{% extends "template.html" %} {% block body %}

<h2>Account Page</h2>
<p>This is the account page!</p>

<div>
<a href="{{ url_for('goals.add_goal') }}">
    <button type="submit" class="add-btn">Pomodoro</button>
</a>

<a href="{{ url_for('todo.adicionar_tarefa') }}">
    <button type="submit" class="add-btn">Check List</button>
</a>
<a href="{{ url_for('mission.add_mission') }}">
    <button type="submit" class="add-btn">Registrar Missões</button>
</a>
</div>
<br>
<h3>Welcome {{username}}</h3>



{% endblock %}