{% extends "template.html" %}
{% block body %}

<h2>Minhas Metas</h2>
 <link rel="stylesheet" href="{{ url_for('static', filename='goal.css') }}">
<div class="container">
    <form method="POST">
        <input type="text" name="search" class="form-field" placeholder="Buscar por título" value="{{ term }}">
        <div class="button-row">
            <input type="submit" class="submit-btn" value="Buscar">
            <a href="{{ url_for('goals.add_goal') }}" class="link">Adicionar Tarefa</a>
        </div>
    </form>

<div class="table-list">
    {% if results %}
        {% for goal in results %}
            <div class="table-item">
                <div class="table-title"><strong>{{ goal.title }}</strong></div>
                <div class="table-details">
                    Produtividade: {{ goal.productivity_score }} | Pomodoros: {{ goal.pomodoro_count }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="table-empty">Nenhuma meta encontrada.</p>
    {% endif %}
</div>

{% endblock %}

