<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>+Produtivo</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" class="btn-nav">inicio</a></li>
            <li><a href="login" class="btn-nav">login</a></li>
            <li><a href="account" class="btn-nav">conta</a></li>
            </ul>
    </nav>        
        
        

    <form action="{{ url_for('auth.logout') }}" method="get" style="display:inline;">
        <button class="todo-btn" type="submit">Logoff</button>
    </form>
    

    <div>
        <center>
            {% block body %} {% endblock %}
        </center>
    </div>
</body>

</html>