<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>HackPyDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Estilo global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" class="btn-nav">Início</a></li>
            <li><a href="/login" class="btn-nav">Login</a></li>
            <li><a href="/account" class="btn-nav">Conta</a></li>
            <li><a href="/logout" class="btn-nav">Logoff</a></li>
        </ul>
    </nav>

    <center>
        {% block body %}{% endblock %}
    </center>

    <script>
        function toggleTheme() {
            const currentTheme = document.body.getAttribute("data-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.body.setAttribute("data-theme", newTheme);
        }
    </script>
</body>
</html>
