{% extends "template.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='goal.css') }}">

<h2>Minhas Tarefas</h2>

<div class="container">
    <!-- FORMULÁRIO DE BUSCA -->
    <form method="GET" action="{{ url_for('todo.buscar') }}">
        <input class="form-field" type="text" name="q" placeholder="Buscar por título" value="{{ term | default('') }}">
        <div class="button-row">
            <input type="submit" class="submit-btn" value="Buscar">
            <a href="{{ url_for('todo.adicionar_tarefa') }}" class="link">Adicionar Tarefa</a>
        </div>
    </form>

    <!-- RESULTADOS -->
    <div class="table-list">
        {% if tarefas %}
            {% for tarefa in tarefas %}
                <div class="table-item">
                    <div class="table-title">
                        {{ tarefa[1] }}
                    </div>
                    <div class="table-details">
                        Status: <strong>{{ tarefa[2] }}</strong>
                    </div>
                    <div class="button-row" style="justify-content: flex-start; gap: 10px; margin-top: 10px;">
                        <form method="POST" action="/todo_concluir/{{ tarefa[0] }}">
                            <button type="submit" class="submit-btn" style="background-color: #4CAF50;">Concluir</button>
                        </form>
                        <form method="POST" action="/todo_pendente/{{ tarefa[0] }}">
                            <button type="submit" class="submit-btn" style="background-color: #5e4caf;">Pendente</button>
                        </form>
                        <form method="POST" action="/todo_excluir/{{ tarefa[0] }}">
                            <button type="submit" class="submit-btn" style="background-color: #f44336;">Excluir</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="table-empty">Nenhuma tarefa encontrada.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
